aug_prompts.py
batch.sh
convert_mesh.py
generate_prompt_dt4d.py
generate_texture_dt4d.py
init_uv_map.py
llm.py
mesh.mtl
mesh.obj
res*.obj
*.png
visualize*.py
__init__.py
out
render
test_output
datasets
cache